@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  scroll-behavior: smooth;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: Play, sans-serif;
  background: url(Assets/dark.jpg);
  background-size: contain;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}
p {
  line-height: 1.5;
}
header {
  width: 95%;
  padding: 1rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  margin-top: 10px;
  border-radius: 50px;
  border: 1px solid #313131;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
li {
  font-size: 1rem;
}
li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #f3f3f3;
  transition: all 0.3s ease;
}
li a:hover {
  color: #00c964
}
li a.hire {
  border: 2px solid white;
  padding: 5px 20px;
  border-radius: 50px;
  background: transparent;
  font-weight: 900;
}
li a.hire:hover {
  background: white;
  color: #121212;
}
.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.overlay {
  height: 100vh;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: linear-gradient(135deg, #00743a, #004b19);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: 900;
}
.overlay a:hover {
  color: rgba(255, 255, 255, 0.4);
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 3rem;
}
main {
  text-align: center;
  flex: 1;
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: OPTIEngraversRoman;
  src: url('fonts/OPTIEngraversRoman.ttf');
  font-weight: 900;
}
.main-heading {
  font-size: 4.1rem;
  letter-spacing: 0.17cm;
}
.about-section {
  background-color: rgba(0, 0, 0, 0.9); /* Light grey background */
  padding: 50px 20px;
  margin-top: 400px;
  max-width: 100%;
  width: 100%;
  border-top: 1px solid #e8e8e8;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about-text {
  margin-bottom: 50px;
}

.about-text h1 {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #f0f0f0;
  margin-bottom: 20px;
  padding: 0 30px;
}

.about-text p i {
  margin-left: 5px;
  color: #16db65; /* Sport green color for the icons */
}

.about-image {
  margin-bottom: 20px;
}

.about-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-icons {
  margin-top: 20px;
}

.about-icons .icon {
  color: #666;
  font-size: 1.5em;
  margin: 0 10px;
  transition: color 0.3s;
}

.about-icons .icon:hover {
  color: #16db65; /* Sport green color on hover */
}

.skills {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  border-top: 1px solid #e8e8e8;
  padding: 0 3rem;
}
.skills .container{
  margin-bottom: 4rem;
}
.skills h1{
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin: 5rem 0;
}
.skills .container .card-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.skills .container .card-wrapper .card{
  background: #121212;
  padding: 2rem 4rem;
  border-radius: 5px;
  text-align: left;
  position: relative;
  transition: all .2s ease;
  box-shadow: 2px 2px #00c964;
}
.skills .container .card-wrapper .card h3{
  font-size: 32px;
  background: linear-gradient(135deg, #00c964, #00ff66);
  background-clip: text;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 11;
}
.skills .container .card-wrapper .card p{
  color: #ced4da;
}
.skills .container .card-wrapper .card .skills-icon i{
  font-size: 2.5rem;
  background-color: #313131;
  border-radius: 5px;
  color: #00c964;
  padding: 1rem;
}
.skills .container .card-wrapper .card:hover{
  transform: translateY(-20px);
  box-shadow: 5px 5px #00c964;
}
.projects{
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  text-align: center;
  border-top: 1px solid #e8e8e8;
  padding: 50px 20px;
}
.projects .container{
  margin-bottom: 4rem;
}
.projects h1{
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}
.projects .container .card-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  place-items: center;
  margin: 0 auto;
  padding: 0 2rem;
}
.projects .container .card-wrapper .card img{
  width: 330px;
  border-radius: 5px;
}
.projects .container .card-wrapper .card{
  background: #121212;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px #00c964;
  transition: all .2s ease;
}
.projects .container .card-wrapper .card:hover{
  transform: translateY(-20px);
  box-shadow: 5px 5px #00c964;
}
.projects .container .card-wrapper .card h3{
  font-size: 1.7rem;
  background: linear-gradient(135deg, #008643, #00ff55);
  background-clip: text;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 11;
}
.footer {
  background: linear-gradient(
    135deg,
    #141414,
    #292929
  ); /* Base dark gradient */
  color: #f0f0f0;
  padding: 60px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-top: 2px solid #00ff9d;
  max-width: 100%;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.footer-section {
  flex: 1 1 200px;
  margin: 20px;
}

.footer-section h4 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #00ff9d;
  position: relative;
}

.footer-section p,
.footer-section a {
  font-size: 1.1rem;
  color: #cccccc;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  transition: color 0.3s, transform 0.3s;
}

.footer-section a:hover {
  color: #00ff9d;
  transform: scale(1.1);
}

.footer-section .social-link {
  font-size: 1.8rem;
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
}

.footer-section .social-link:hover {
  color: #00ff9d;
  transform: translateY(-5px);
  text-shadow: 0 0 10px #00ff9d;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
  font-size: 0.9rem;
  color: #cccccc;
  position: relative;
}

/* Glowing Gradient Bar */
.footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(-135deg, #00ff9d, #004b2e);
  background-size: 400% 400%;
  animation: gradientGlow 15s ease infinite;
  opacity: 0.2; /* Reduced opacity for subtle effect */
  z-index: 1;
  pointer-events: none;
  filter: blur(8px); /* Adds glow effect */
}
.cta-section {
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
  padding: 50px 20px;
  text-align: center;
  color: #fff;
  position: relative;
  width: 100%;
  border-top: 1px solid #eee;
}

.cta-content {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.cta-section h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #00743a;
  box-shadow: 0 4px #004b2e;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.2s ease;
}

.cta-button:hover {
  box-shadow: 4px 4px #004b2e;
}

@keyframes gradientGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .skills .container .card-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .container .card-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  main-heading{
    font-size-adjust: 7rem;
    font-family: Bona Nova SC;
  }
}
@media (max-width: 840px) {
  .projects .container .card-wrapper{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  ul {
    display: none;
  }
  body {
    background: url(Assets/pexels-dark.webp);
    background-size: contain;
    backdrop-filter: brightness(50%);
  }
  .about-content {
    max-width: 750px;
  }
  .menu-icon {
    display: block;
  }
  .main-heading {
    font-size: 3rem;
    font-family: Bona Nova SC;
    font-weight: 500;
  }
  .skills-grid {
    grid-template-columns: 1fr;
  }
  .skill-box {
    max-width: 250px;
    margin: 0 auto;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .cta-section {
    padding: 50px 20px;
  }

  .cta-section h1 {
    font-size: 2.5em;
  }

  .cta-section p {
    font-size: 1.2em;
  }

  .cta-button {
    font-size: 1em;
    padding: 10px 20px;
  }
  .skills .container .card-wrapper{
    grid-template-columns: repeat(1, 1fr);
  }
  .projects .container .card-wrapper{
    grid-template-columns: 1fr;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    margin: 10px 0;
  }
}
